/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --main-color: #202b38;
  --secondary-color: #c92a2a;
  --third-color: #1864ab;
  --main-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
}
body {
  font-family: var(--main-font);
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: var(--secondary-color);
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: white;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}
#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}

#header .logo img {
  max-height: 50px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 500;
  color: var(--main-color);
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--secondary-color);
}
.navbar .social-link i {
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 4px;
  font-size: 32px;
  color: var(--main-color);
}
.navbar .social-link i:hover {
  color: var(--secondary-color);
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #556270;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(63, 73, 83, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #556270;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #d9232d;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  font-family: var(--main-font);
  width: 100%;
  height: 100vh;
  background-color: #f2f9ff;
}

.hero pre {
  background-color: var(--main-color);
  border-radius: 8px;
}

.hero h4 {
  font-size: 28px;
  color: var(--main-color);
}
.hero h4 span {
  color: #c92a2a;
}

.hero h2 {
  font-size: 60px;
  color: var(--main-color);
  font-weight: 700;
}
.hero p {
  font-size: 26px;
  color: #868e96;
}
.hero a {
  color: #fff;
  background-color: var(--third-color);
  padding: 10px 20px;
  font-size: 36px;
  font-weight: 500;
  margin-top: 20px;
  transition: 0.3s;
}

.hero a:hover {
  background-color: var(--main-color);
}

.hero .btn {
  padding: 0px;
  margin-top: 15px;
}
@media (max-width: 992px) {
  #hero {
    height: 100vh;
  }
  #hero .carousel-container {
    top: 8px;
  }
}
@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}
@media (min-width: 1024px) {
  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg,
.services .icon-box {
  background-color: #f2f9ff;
}

.section-title {
  padding-bottom: 40px;
}
.section-title h2 {
  font-size: 60px;
  font-weight: 700;
  padding: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--main-color);
  font-family: var(--main-font);
}

.section-title h3 {
  font-size: 22px;
  font-weight: 600;
  padding: 0;
  color: var(--third-color);
  font-family: var(--main-font);
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--main-font);
  color: var(--main-color);
}

/*--------------------------------------------------------------
# Principles
--------------------------------------------------------------*/
.principle_section .card {
  padding: 30px;
  border-radius: 0px;
}
.principle_section .card i {
  color: #202b38;
  font-size: 52px;
}
.principle_section .card h4 {
  font-weight: 600;
  font-size: 27px;
  line-height: 60px;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.principle_section .card h4::after {
  content: "";
  width: 50%;
  height: 2px;
  display: block;
  background: var(--third-color);
  margin: 4px 0px;
}

.principle_section .card p {
  color: var(--main-color);
}

/*--------------------------------------------------------------
# content-section
--------------------------------------------------------------*/
.content-section .btn a {
  background-color: var(--main-color);
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  padding: 10px 20px;
}
.content-section .icon {
  font-size: 250px;
  color: var(--main-color);
}
.content-section .card {
  padding: 15px;
}
.content-section .card a {
  color: var(--third-color);
}
.content-section .card a:hover {
  color: var(--secondary-color);
}

.content-section h3 {
  color: var(--third-color);
  font-weight: 600;
}

.content-section ul {
  list-style: none;
}

.content-section ul li P {
  font-size: 22px;
  color: var(--main-color);
}

.content-section ul li P span {
  color: #f08c00;
  background-color: var(--main-color);
  border-radius: 4px;
  padding: 1px 5px;
}

.content-section ul li P i {
  font-size: 12px;
  padding: 3px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #2f3a47;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 18px;
}
#footer .footer-top {
  background: var(--main-color);
  padding: 150px 0 150px 0;
}

#footer .footer-top .footer-info h3 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
}
#footer .footer-top .footer-info p {
  color: #f08c00;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 40px;
}
#footer .footer-top a {
  font-size: 27px;
  background: #fff;
  font-weight: 600;
  color: var(--third-color);
  line-height: 1;
  padding: 8px 0;
  margin-right: 10px;
  border-radius: 0px;
  padding: 10px 20px;
  transition: 0.3s;
}
#footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

#footer .copyright i {
  font-size: 28px;
  color: rgba(219, 219, 219, 0.712);
  padding-left: 20px;
}

#footer .copyright i:hover {
  color: #fff;
}

#footer .copyright p {
  display: flex;
}
