<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" . }}
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    {{ with .Params.hero_section }}
    <!---->
    {{ if .enable }}
    <section class="hero d-flex align-items-center">
      <div class="container">
        <div class="row content align-items-center">
          <div class="col-lg-6">
            <h4 class="mb-3">
              <span>P</span>ipelined <span>R</span>elational <span>Q</span>uery
              <span>L</span>anguage, pronounced <span>“Prequel”</span>.
            </h4>
            <h2 class="mb-3">{{ .heading | markdownify }}</h2>
            <p class="mb-3">{{ .bottom_text | markdownify }}</p>
            {{ if .button.enable }}
            <!---->
            {{ with .button }}
            <div class="btn">
              <a href="{{ .link | safeURL }}" title="{{ .label }}">
                {{ .label }}</a
              >
            </div>
            {{ end }}
            <!---->
            {{ end }}
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <pre tabindex="0">
              <code class="language-prql hljs" data-lang="prql">
{{ partial "codes/index_hero.html" . }}
              </code>
            </pre>
          </div>
        </div>
      </div>
    </section>
    {{ end }}
    <!---->
    {{ end }}
    <!-- End Hero -->

    <main id="main">
      <!-- ======= principle Section ======= -->
      {{ with .Params.principle_section }}
      <!---->
      {{ if .enable }}
      <section class="principle_section">
        <div class="container">
          <div class="row content">
            <div class="section-title text-center">
              <h2 class="mb-3">{{ .title | markdownify }}</h2>
              <p>{{.tagline | markdownify }}</p>
            </div>

            {{ range .items }}
            <div class="col-lg-4 d-flex align-items-stretch mb-4">
              <div class="card">
                <i class="{{ .icon }}"></i>
                <h4>{{ .title | markdownify }}</h4>
                <p class="blue-border">
                  <strong>{{ .main_text | markdownify }}</strong>
                </p>
                <p>{{ .content | markdownify }}</p>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </section>
      {{ end }}
      <!---->
      {{ end }}
      <!-- End principle_section -->

      <!-- ======= principle Section ======= -->
      {{ with .Params.sql_section }}
      <!---->
      {{ if .enable }}
      <section class="content-section section-bg">
        <div class="container">
          <div class="row content">
            <div class="col-md-6 mb-4">
              <div class="section-title">
                <h3>{{.subtitile | markdownify }}</h3>
                <h2 class="mb-3">{{ .title | markdownify }}</h2>
                {{ range .content }}
                <p class="mt-3">{{.}}</p>
                {{end}}
              </div>
              {{ if .button.enable }}
              <!---->
              {{ with .button }}
              <div class="btn p-0 mt-3">
                <a href="{{ .link | relURL }}">{{ .label }}</a>
              </div>
              {{end}}
              <!---->
              {{end}}
            </div>
            <div
              class="col-md-6 d-flex justify-content-center align-items-center icon"
            >
              <i class="{{.main_icon}}"></i>
            </div>
          </div>
        </div>
      </section>
      {{ end }}
      <!---->
      {{ end }}
      <!-- End principle_section -->

      <!-- ======= TOOLS Section ======= -->
      {{ with .Params.tools_section }}
      <!---->
      {{ if .enable }}
      <section class="content-section">
        <div class="container">
          <div class="row content">
            <div class="section-title text-center">
              <h2 class="mb-3">{{ .title | markdownify }}</h2>
            </div>
            <div
              class="col-md-6 d-flex justify-content-center align-items-center icon"
            >
              <i class="{{.main_icon}}"></i>
            </div>
            <div class="col-md-6 mb-4">
              {{ range .right_sections}}
              <div class="card mb-3">
                <p>
                  <a href="{{ .link | relURL }}" target="_blank"
                    >{{ .label }} <sup><i class="bx bx-link-external"></i></sup>
                  </a>
                  {{.text | markdownify}}
                </p>
              </div>
              {{end}}
            </div>
          </div>
        </div>
      </section>
      {{ end }}
      <!---->
      {{ end }}
      <!-- End TOOLS section -->

      <!-- ======= integrations_section ======= -->
      {{ with .Params.integrations_section }}
      <section class="content-section">
        <div class="container">
          <div class="row content">
            {{ with .section_left }}
            <div class="col-md-6 mb-4">
              <h3 class="mb-5">{{ .title | markdownify }}</h3>
              <ul>
                {{ range .list_1}}
                <li>
                  <p>
                    <a href="{{ .link | relURL }}"
                      ><span
                        >{{ .label }}
                        <sup><i class="bx bx-link-external"></i></sup></span></a
                    >{{ .text | markdownify }}
                  </p>
                </li>
                {{end}}
              </ul>
            </div>
            {{end}} {{ with .section_right }}
            <div class="col-md-6 mb-4">
              <h3 class="mb-5">{{ .title | markdownify }}</h3>
              <ul>
                <li><p>{{ .list_1 | safeHTML}}</p></li>
                <li><p>{{ .list_2 | safeHTML}}</p></li>
              </ul>
            </div>
            {{end}}
          </div>
        </div>
      </section>
      {{end}}
      <!-- End integrations_section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->

    {{ partial "scripts.html" . }}
  </body>
</html>
