<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-md-6">
          <div class="footer-info text-center">
            <h3 class="mb-4">Keep in touch</h3>
            <p>
              Star this repo and Send a link to PRQL to a couple of people whose
              opinion you respect.
            </p>
            <div class="btn mt-4">
              <a href="https://discord.com/invite/eQcfaCmsNc" target="_blank">Join the Discord<sup><i class="bx bx-link-external"></i></a>
              <a href="https://github.com/prql/prql" target="_blank">Contribute to PRQL<sup><i class="bx bx-link-external"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      <p>{{ site.Params.footer }}</p>
      <p>
        GitHub notification on updates.
        <a href=""><i class="bx bxl-github"></i></a>
      </p>
    </div>
  </div>
</footer>
