<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    
    <a href="/" class="logo me-auto"><img src="/img/logo.png" alt="" class="img-fluid"></a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="https://prql-lang.org/book/" class="nav-link scrollto" target="_blank">Book<sup><i class="bx bx-link-external"></i></sup></a></li>
        <li><a href="https://prql-lang.org/playground/" class="nav-link scrollto" target="_blank">Playground<sup><i class="bx bx-link-external"></i></sup></a></li>
        <li><a href="/roadmap/" class="nav-link scrollto" >Roadmap<sup></a></li>
          <li><a href="/example/" class="nav-link scrollto" >Example<sup></a></li>

        <li><a href="https://github.com/prql/prql" class="social-link"><i class='bx bxl-github'></i></a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
