<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    
    <a href="/" class="logo me-auto"><img src="/img/logo.png" alt="" class="img-fluid"></a>

    <nav id="navbar" class="navbar">
      {{ $currentPage := . }}
      <ul>
        {{ range .Site.Menus.nav }}
        <li><a href="{{ .URL }}" class="nav-link scrollto {{ if $currentPage.IsMenuCurrent "nav" . }}active{{ end }} ">{{ .Name }}</a></li>
        
        {{end}}
        <li><a href="https://github.com/prql/prql" class="social-link"><i class='bx bxl-github'></i></a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
