<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<!-- Vendor JS Files -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/plugins/glightbox/js/glightbox.min.js"></script>
<script src="/plugins/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/plugins/swiper/swiper-bundle.min.js"></script>
<script src="/plugins/waypoints/noframework.waypoints.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>
